.button-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.delete-btn {
  padding: 8px 14px;
  background: #e53e3e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #c53030;
}

.edit-btn {
  padding: 8px 14px;
  background: #d69e2e;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.select-btn {
  padding: 8px 14px;
  background: #2f855a;
  color: white;
  border-radius: 6px;
  border: none;
}
